<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yodean.sys.mapper.TMaterialIncomingMapper">
  <resultMap id="BaseResultMap" type="com.yodean.sys.domain.TMaterialIncoming">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="base_num" jdbcType="DOUBLE" property="baseNum" />
    <result column="base_unit_id" jdbcType="INTEGER" property="baseUnitId" />
    <result column="batch_num" jdbcType="VARCHAR" property="batchNum" />
    <result column="bid" jdbcType="VARCHAR" property="bid" />
    <result column="keeper" jdbcType="INTEGER" property="keeper" />
    <result column="need_approve" jdbcType="BIT" property="needApprove" />
    <result column="num" jdbcType="DOUBLE" property="num" />
    <result column="sno" jdbcType="VARCHAR" property="sno" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="storage_id" jdbcType="INTEGER" property="storageId" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="users" jdbcType="VARCHAR" property="users" />
    <result column="material_id" jdbcType="INTEGER" property="materialId" />
  </resultMap>
</mapper>