<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yodean.sys.mapper.TMeetingMapper">
  <resultMap id="BaseResultMap" type="com.yodean.sys.domain.TMeeting">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="meeting_type" jdbcType="VARCHAR" property="meetingType" />
    <result column="priority" jdbcType="VARCHAR" property="priority" />
    <result column="privacy" jdbcType="BIT" property="privacy" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="tip_end_date" jdbcType="TIMESTAMP" property="tipEndDate" />
    <result column="tip_start_date" jdbcType="TIMESTAMP" property="tipStartDate" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>